* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #025955;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 600px;
  height: 700px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 5px 5px #ffff, 0 3px 3px #ffff;
}

.mt-50 {
  margin-top: 50px;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  color: #025955;
  font-size: 25px;
}
