* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #025955;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 600px;
  height: 700px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 5px 5px #ffff, 0 3px 3px #ffff;
  padding: 0 10px;
}

.mt-50 {
  margin-top: 50px;
}

.title {
  width: 100%;
  padding-top: 30px;
  text-transform: uppercase;
  color: #025955;
  font-size: 25px;
  text-align: center;
}

.title span#currentDate{
  font-size: 20px;
  opacity: 0.6;
}

.title span#currentDate:hover {
  opacity: 1;
  cursor: pointer;
}

.titlelist {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlelist span:hover {
  opacity: 0.8;
}

input[name="add"] {
  width: 80%;
  height: 50px;
  border: none;
  outline: none;
  border-bottom: 3px solid #025955;
}

input[name="add"]::placeholder {
  font-size: 20px;
  color: #025955;
}


.titlelist span {
  background-color: #025955;
  padding: 10px 13px;
  margin-left: 15px;
  cursor: pointer;
}

.fa-plus {
  font-size: 30px;
  color: #ffff;
}


ul li {
  list-style: none;
  margin: 5px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.todolista {
  width: 100%;
  margin: 20px 25px;
}

.todolista li {
  border: 3px solid #025955;
  padding: 5px;
  width: 80%;
  border-radius: 8px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.todolista ul li span{
  font-size: 20px;
  cursor: pointer;
  padding: 0 5px;
}

.todolista ul li span.remove:hover {
  color: red;
}

.todolista ul li span.edit:hover {
  color: orange;
}

#wrong {
  color: red;
  font-weight: bold;
  display: none;
  margin-top: 50px;
  font-size: 20px;
}
