* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #025955;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  width: 600px;
  height: 700px;
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0 5px 5px #ffff, 0 3px 3px #ffff;
}

.mt-50 {
  margin-top: 50px;
}

.title {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  text-transform: uppercase;
  color: #025955;
  font-size: 25px;
}

.title span {
  font-size: 20px;
  opacity: 0.6;
}

.title span:hover {
  opacity: 1;
  cursor: pointer;
}

.list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[name="add"] {
  width: 80%;
  height: 50px;
}

.list span {
  background-color: #025955;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.list span:hover {
  opacity: 0.7;
}

.fa-plus {
  font-size: 30px;
  color: #ffff;
}
